ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  max-width: 768px;
  margin: 0 auto;
  overflow: hidden;
}

.text {
  display: flex;
  flex-direction: column;
}

.text__title {
  font-size: 24px;
  font-family: "Montserrat";
  color: rgb(41, 41, 41);
  line-height: 1.667;
  text-align: center;
}

.text__text {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(41, 41, 41);
  line-height: 1.625;
  text-align: center;
}

.demos {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.demos__box {
  display: flex;
  height: 420px;
  width: 360px;
  margin: 10px;
  flex-direction: column;
  background-color: rgb(243, 243, 243);
 
}

.box__title {
  font-size: 18px;
  font-family: "OpenSans";
  color: rgb(41, 41, 41);
  font-weight: bold;
  line-height: 1.667;
  text-align: left;
  margin-left: 10px;
}

.box__img {
  height: 215px;
  width: 340px;
  margin: 0 10px
}

.box__link {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(200, 156, 24);
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  padding-left: 10px;
}
